<div class="container-fluid">
  <div class="home">
  </div>

  <div class="mission">
    <h2>Our Mission</h2>
    <p>“To bridge the gap in healthcare and overcome geographical barriers, by improving access to care”</p>
  </div>

  <div class="benefits">
    <div class="location">
      <i class="fa fa-globe-americas"></i>
      <p>Services provided at a convenient location of your choice</p>
    </div>
    <div class="time">
      <i class="fa fa-clock"></i>
      <p>Avoid long wait times</p>
    </div>
    <div class="copay">
      <i class="fa fa-money-bill-alt"></i>
      <p>No co-pays or deductibles</p>
    </div>
    <div>
      <i class="fa fa-infinity"></i>
      <p>Your appointment will not be rushed</p>
    </div>
  </div>
</div>
